{% block sw_order_detail_general_info_card %}
  {% parent %}

  <sw-card v-if="personalizedItems.length > 0" class="sw-order-detail-general__printess-items-card" position-identifier="sw-order-detail-general-printess-items" :title="$tc('PrintessEditor.adminOrder.personalizedItems')">
  <!-- <span>{{ $tc('PrintessEditor.adminOrder.personalizedItems') }}</span> -->

  <ul id="printessPrintResults" v-for="item in personalizedItems" class="printess-line-items">
    <li class="line-item" :id="'printessResult' + item.id">
      <div class="thumbnail master">
        <img :src="item.payload._printessThumbnailUrl">
      </div>
      <div class="detail">
        <div class="save-token">
          <span class="label">{{ $tc('PrintessEditor.adminOrder.saveToken') }}</span>
          <a target="_blank" :href="'https://editor.printess.com/?name=' + item.payload._printessSaveToken"><span>{{ item.payload._printessSaveToken }}</span></a>
        </div>
        <div class="print-status">
          <span class="label">{{ $tc('PrintessEditor.adminOrder.printStatus') }}</span>
          <span class="value">{{ $tc('PrintessEditor.adminOrder.loadingPrintStatus') }}</span>
        </div>
      </div>
    </li>
  </ul>
  </sw-card>
{% endblock %}